/* GLOBAL */
*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px ;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}



/* BUTTON  */
.button {
  display: inline-block;
  padding: 13px 20px ;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/* img {
  min-width: 100%;
  height: auto;
} */

/* OUTLINE-STYLES */

*:focus{
  outline: 2px dashed #7296ec;
}

.button-primary{
  background-color: #7296ec;
  color: #fff;

}

.button-primary:hover{
  opacity: 0.8;
}

.button-primary:active{
  opacity: 0.6;
}

.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;


}


/* SITE-HEADER */


/* SITE-HEADER-TOP */

.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}


.site-header-logo {
  display:flex;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}

/* CURRENCY-RATES
*/
.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.currency-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color: #2959ce;

}

.global-search-form{
  margin-right: 25px;
}

.global-search-form-input{
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 40px;
  border: 0;
  border-radius: 60px;
  font-size: 14px;
  line-height: normal;
}

.lang-toggle {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
}

.lang-toggle-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;

  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}
.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}


/* SITENAV */

.sitenav {
  padding-top:16px;
  padding-bottom:16px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
  font-size: 18px ;
  font-weight: 500;
  line-height: normal;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 34.44px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
}

.sitenav-link:hover{
  color: #7296ec;
}

.sitenav-link:active{
  opacity: 0.6;
}

/* SITE-HEADER-BANNER */

.site-header-banner-link{
  display: flex;
}

.offer-link{

  border-radius: 10px;


  width: 149px;
  height: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #F78B3B;
}


.offer-link:hover{
  opacity: 0.8;
}

.offer-link:active{
  opacity: 0.6;
}



/* NEWS */

.news-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.news-list-item{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 17px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 393px;
  border-radius: 15px;
  background-color: #F6F6F6;;
}

.news-article-heading {
  margin-top: 0;
  margin-bottom: 10px;

}
.news-article-link {
  display: inline-block;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  list-style:none ;
}
.news-article-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}




.news-article-img {
  margin-top: 0;
  margin-bottom: 15px;
  width: 359px;
  height: 165px;
  border-radius: 10px;
}
.news-article-footer {
  display: flex;
  align-items: center;
}
.article-footer-img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.article-footer-time {

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;

}



/* OFFER */

.offer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 71px 24px 29px;
  margin-top: 60px;
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 10px;
  width: 1050px;
  height: 100px;
  background-color: #faae74;

}
.offer-text {


  font-family: "Rubik", "Arial", sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

}
